/* header */
.nav-bar { font-family: "DIN Bold", sans-serif;
	font-size: 14px;
}
.nav-bar .nav-brand { font-size: 16px;}


/* ATEC specific styles */
a {
	color: #E98300;
}
a:hover {
	text-decoration: none;	
	color: #C75B12;	
}
p.lead {
	font-style: italic;	
}
.caption {
	font-size: 13px;
	line-height: 1;
}
.font-14 {
	font-size: 14px !important;
}
.font-16 {
	font-size: 16px !important;
}
.font-18 {
	font-size: 18px !important;
}

#foot {
	font-size: 12px;
	font-family: "DIN Regular", sans-serif;
	background: rgba(213,210,202, 0.2);
}


dd {}
.din {
	font-family: "DIN Regular", sans-serif;
}
.btn {
	font-size: 12px;
	font-family: "DIN Bold", sans-serif;
	border: 1px solid #ffb612;
}
.btn.active { 
	background: #FFB612;
	box-shadow: none;
	border: 1px solid #ffb612;
}
.btn.active:hover { 
	background: #FFB612;
	box-shadow: none;
	border: 1px solid #ffb612;
}

.btn:hover {
	border: 1px solid #ffb612;
	color: #C75B12;
	background: #fff;
}

/* blog */
#sidescroll {
	width:100%; 
	overflow:scroll;
}
#sidescroll::-webkit-scrollbar { 
    display: none; 
}
#sidescroll menu { padding: 0 0 0 15px;
display: block;
overflow: hidden;
height: auto;
width:3000px;
 }
#sidescroll menu li { list-style: none;
	background: #f3f3f3;
	float: left; margin: 0 10px 10px 0;
	overflow: hidden;
	position: relative;
	background-size: contain;
	background-repeat: none;
}
#news #sidescroll menu li { list-style: none;
	background: #f3f3f3;
	float: left; margin: 0 10px 10px 0;
	width: 200px;
	height: 300px;
	overflow: hidden;
	position: relative;
	background-size: contain;
	background-repeat: none;
}
#sidescroll  menu li a{
	width: 200px;
	height: 300px;
	padding: 12px;
	margin: 0;
display: inline-block;

position: absolute;
border-bottom: 2px solid #fff;
line-height: 1;
font-size: 15px;
font-style: italic;
color: #fff;
text-shadow: 1px 1px 1px rgba(0,0,0, 0.4);
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.13) 59%, rgba(0,0,0,0.72) 98%, rgba(0,0,0,0.72) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(59%,rgba(0,0,0,0.13)), color-stop(98%,rgba(0,0,0,0.72)), color-stop(100%,rgba(0,0,0,0.72))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.13) 59%,rgba(0,0,0,0.72) 98%,rgba(0,0,0,0.72) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.13) 59%,rgba(0,0,0,0.72) 98%,rgba(0,0,0,0.72) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.13) 59%,rgba(0,0,0,0.72) 98%,rgba(0,0,0,0.72) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.13) 59%,rgba(0,0,0,0.72) 98%,rgba(0,0,0,0.72) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b8000000',GradientType=0 ); /* IE6-9 */

}
#sidescroll menu li.current {
	border-bottom: 5px solid #C75B12;
}
#sidescroll menu li a:hover {
	border-bottom: 5px solid #ffb612;
}
#sidescroll menu li a h4 {
	font-family: "DIN Bold", sans-serif;
	font-size: 19.5px;
	font-style:normal;
	vertical-align: bottom;
	position: absolute;
	bottom: 20px;
}

#sidescroll menu li a div {
	vertical-align: bottom;
	position: absolute;
	bottom: 15px;
}
blockquote {
	font-style: italic;
}
blockquote small {
	font-size: 12px; 
	font-family: "DIN Regular", sans-serif;
	font-style:normal;
}
blockquote small strong {
	font-family: "DIN Bold", sans-serif;
	font-style:normal;
	letter-spacing: -.05em;
}
article h5 {
padding: 25px 0 12px 0;
}
p.postedon {
	font-size: 13px; 
	font-family: "DIN Regular", sans-serif;
	color: #8C8C8C;
	margin-bottom: 45px;
}
article.blogpost footer {
	border-top: 1px solid #D8D8D8;
	padding-top: 25px;
	margin-top: 20px;
font-size: 15px; 
	font-family: "DIN Regular", sans-serif;
	color: #8C8C8C;
}
article.blogpost footer strong {
	font-family: "DIN Bold", sans-serif;
	letter-spacing: -.078em !important;
}
#auxiliary ul {
	padding:0;
	list-style: none;
}
#auxiliary h4 {
	font-size: 16px;
	text-transform: uppercase;	
}
#auxiliary li {
	font-size: 15px;
line-height: 1.19;
padding-bottom: 7px;}

img.desaturate{
filter: grayscale(100%);
-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
filter: grayscale(100%);
filter: url(desaturate.svg#greyscale);
filter: gray;
}

/* people */
#people .phonebook {
	font-size: 14px;
	line-height: 1.2;
}
#people .phonebook strong {
	font-size: 16px;
	font-family: "DIN Bold", sans-serif;
	font-style:normal;
	letter-spacing: -.05em;
}

/* faculty */
#faculty-info {
	font-size:16px;
}
#faculty-info h4 {
	margin-top: 0;
font-size: 15px;
text-transform: uppercase;}

.faculty-title {
	font-style:italic;
	line-height:1;
	padding-bottom:18px;
	border-bottom: 1px solid #ccc;
}
#faculty h4 {
	margin-top: 0;
}

/* portfolio + pieces */
#piece dl.team dt {
	border-top: 1px solid #ccc;
width:40%;
float:left;
clear: both;
font-size: 14px;
font-family: "DIN Bold", sans-serif;
letter-spacing: -.048em;
text-transform:uppercase;
	color:#777;
	font-weight: normal !important;
}
#piece dl.team dd {
	border-top: 1px solid #ccc;
	width: 60%;
	float:right;
	font-size: 14px;
	font-family: "DIN Regular", sans-serif;
}
#piece menu {
	height:350px;}
#piece menu li {
	height:350px !important;}
#piece menu li img {
	height:350px !important;}
.glyphicon-circle-arrow-up {
    -webkit-transition-duration: 0.28s;
    -moz-transition-duration: 0.28s;
    -o-transition-duration: 0.28s;
    transition-duration: 0.28s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
 
    }  
 
.glyphicon-circle-arrow-up:hover  
{
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
} 
#piece dl.piece-info {
	font-size:12px;
}
#piece dl.piece-info dt {
	text-transform:uppercase;
	font-family: "DIN Regular", sans-serif;
	font-size:12px;
	letter-spacing: -.089em !important;
}
#piece dl.piece-info dd {
	font-family: "DIN Bold", sans-serif;
	padding-bottom:6px;

}
#piece h4 {
	font-size: 18px;}
#piece p.tagline {
	font-family:"athelas";
	font-style: italic;
}

/* research */
.faculty-list {
	font-size: 16px;
	font-family: "DIN Regular", sans-serif;
	margin: 0;
	list-style: none;
}
.smaller { 
	font-size: 18px;
	line-height: 1;
}
#research section {
	padding-top: 25px;
}
#research h6 {
	margin-bottom:6px;
}

/* portfolio */
#portfolio {
	font-size: 17px;
	line-height: 1.25;
}
#portfolio h4 {
	font-size: 24px;
	margin: 0 0 8px
}
#portfolio .cat {
	font-size: 12px;
	text-transform: uppercase;
	font-family: "DIN Regular", sans-serif;
	margin: 0 0 10px 0;
}
#portfolio .cat a {
	color: #888;	
}
#portfolio .tooltip-inner {
	font-size: 10px;
}

#portfolio menu {
	margin: 0 auto;
	display: block;
	text-align: center;	
	padding: 0;
}

#portfolio menu li {
	font-size: 12px;
	text-transform: uppercase;
	font-family: "DIN Bold", sans-serif;
	list-style: none;
}
#portfolio menu li a {
	background: white;
	border: 1px solid #f3f3f3;
	border-radius: 4px;
	padding: 2px 4px;
	float: left;
	display: inline-block;
	margin: 0 12px 8px 0;
	color: #444;
}
#portfolio menu li a:hover, #portfolio menu li .selected{
	background: #FFB612;
	border: 1px solid #FFB612;
	color: white;
}
#portfolio p img {
	padding-bottom:2px;
	border-bottom:5px solid white;	
}
#portfolio p img:hover {
	border-bottom:5px solid #FFB612;	
}
#portfolio h4 a {
	color: #000;
}

/* building */
#building #hero {
}

#building .well {
	background: #ffb612;
	border: none;
	font-size: 18px;
	line-height: 1.1;
}

/* course */
.course-name, .course-prof, .course-num, .course-details {
	font-size: 14px;
	font-family: "DIN Regular", sans-serif;
	text-align: text-bottom;
} 
.course-name {
	font-family: "DIN Bold", sans-serif;
	font-size: 18px;
}
.

	/*thumbs - epic hover*/
	.thumb{position:relative; overflow:hidden; float:left;line-height:0;}
	.thumb a{float:left;display:block;width:inherit;height:inherit; line-height:0;}
	.thumb a img{max-width:100%;height:auto; line-height:0; display:block;}
	.thumb a .thumb-rollover{position:absolute;display:table;width:100%;height:100%;background: #000;/*ie8 fallback*/ background: rgba(0,0,0,0.8);top:0;opacity:0;z-index:1;}
	.thumb a .thumb-rollover .thumbInfo{display: table-cell; vertical-align: middle;width:100%;font: 14px 'Open Sans', sans-serif; font-weight:normal; text-align:center;}
	.thumb a .thumb-rollover .thumbInfo img.graphic{position:relative; margin:auto;}	
	

	/*homepage
	----------------------------*/	
		
	/*grid*/
	#content-wrapper section.homepage #grid{width:876px; overflow:hidden;margin-left:-6px; position:relative;z-index:1;}
	#content-wrapper section.homepage #grid .thumb-type-1{width:286px !important;height:196px!important;}
	#content-wrapper section.homepage #grid .thumb-type-2{width:286px!important;height:398px!important;}
	#content-wrapper section.homepage #grid .thumb-type-3{width:578px!important;height:398px!important;}
	#content-wrapper section.homepage #grid .thumb-type-4{width:578px!important;height:196px!important;}
	#content-wrapper section.homepage #grid .thumb-type-5{max-width:100%;}
	

	#content-wrapper section.homepage #grid .thumb-type-1,#content-wrapper section.homepage #grid .thumb-type-2,#content-wrapper section.homepage #grid .thumb-type-3,#content-wrapper section.homepage #grid .thumb-type-4,#content-wrapper section.homepage #grid .thumb-type-4{/*height:auto;*/overflow:hidden;/*float:left;*/ margin:0 0 6px 6px;/*box-shadow:inset 0 0 0 3px rgba(255,255,255,1);-webkit-box-shadow:inset 0 0 0 3px rgba(255,255,255,1);-moz-box-shadow:inset 0 0 0 3px rgba(255,255,255,1);*/}
	#content-wrapper section.homepage #grid .thumb-type-1 a img,#content-wrapper section.homepage #grid .thumb-type-2 a img,#content-wrapper section.homepage #grid .thumb-type-3 a img,#content-wrapper section.homepage #grid .thumb-type-4 a img,#content-wrapper section.homepage #grid .thumb-type-5 a img{position:relative;z-index:-1;}
	#content-wrapper section.homepage{width:870px; margin:auto; overflow:hidden;}



/*Mobile Layout: Landscape Container width:768px

-----------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 959px) {

	
	/*homepage grid
	----------------------------*/
	section.homepage #grid{width:646px!important;}
	#content-wrapper section.homepage #grid .thumb-type-1{width:209px !important;height:143px !important;}
	#content-wrapper section.homepage #grid .thumb-type-2{width:209px !important;height:292px !important;}
	#content-wrapper section.homepage #grid .thumb-type-3{width:424px !important;height:292px !important;}
	#content-wrapper section.homepage #grid .thumb-type-4{width:424px !important;height:143px !important;}
	#content-wrapper section.homepage #grid .thumb-type-5{max-width:100%;}


}


/*Mobile Layout: Landscape Container width:480px

-----------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {


	/*homepage grid
	----------------------------*/
	section.homepage #grid{width:426px!important;}
	#content-wrapper section.homepage #grid .thumb-type-1{width:207px !important;height:142px !important;}
	#content-wrapper section.homepage #grid .thumb-type-2{width:207px !important;height:290px !important;}
	#content-wrapper section.homepage #grid .thumb-type-3{width:420px !important;height:290px !important;}
	#content-wrapper section.homepage #grid .thumb-type-4{width:420px !important;height:142px !important;}
	#content-wrapper section.homepage #grid .thumb-type-5{max-width:100%;}
	
}

/*Mobile Layout: Portrait Container width:320px

-----------------------------------------------*/

@media only screen and (max-width: 479px){

	/*homepage grid
	----------------------------*/
	section.homepage #grid{width:290px!important; margin-left:0 !important;}
	#content-wrapper section.homepage #grid .thumb-type-1{width:290px !important;height:199px !important;}
	#content-wrapper section.homepage #grid .thumb-type-2{width:290px !important;height:406px !important;}
	#content-wrapper section.homepage #grid .thumb-type-3{width:290px !important;height:200px !important;}
	#content-wrapper section.homepage #grid .thumb-type-4{width:290px !important;height:98px !important;}
	#content-wrapper section.homepage #grid .thumb-type-5{max-width:100%;}
	#content-wrapper section.homepage #grid .thumb-type-1,#content-wrapper section.homepage #grid .thumb-type-2,#content-wrapper section.homepage #grid .thumb-type-3,#content-wrapper section.homepage #grid .thumb-type-4,#content-wrapper section.homepage #grid .thumb-type-4{margin: 0 0 6px 0;}

}


	/*News page styles
		----------------------------*/
@media only screen and (min-width: 992px) {
	.alignleft{margin-left: -160px !important;}
		.alignright{margin-right: -160px !important;}
		p .size-full{margin-left: -17%;width: 132%;height: auto;}
				a .size-full{margin-left: 0;width: 100%;height: auto;}

}
@media only screen and (max-width: 992px) {
		 .size-full{width: 100%;height: auto;}
			body#news fieldset{width:100% !important;}
}