@import url("fonts.css");@import url("header.css");html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;font-family:"PF DIN", sans-serif}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
img {-ms-interpolation-mode:bicubic}
a {color:#008542;text-decoration:none}
a:hover {color:#c75b12}
h3 {font-size:24px;font-family:"DIN Black", sans-serif;font-weight:normal;text-transform:uppercase}
html, body {margin:0;padding:0}
body {background:url(/atec/img/bg.png) !important;}
.no-js #loader {display:none}
.js #loader {display:block;position:absolute;left:100px;top:0}
#wrapper {margin:0 auto;width:960px}
/*#main ul, #main ol { padding-left:27px; }*/
